[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible-lint = "~=6.15"
ansible = "~=7.4"
hcloud = "~=1.19"
jq = "~=1.4"

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.6"
